# Copy this file, rename it to .env, fill out the missing fields, and run `source .env` before running Makefile commands
BOT_TOKEN="" # Place your bot token here
GUILD_ID="" # Place the id of the server you are testing in here
API_ENDPOINT="" # Place the endpoint of your API here
DB_ENDPOINT="" # Place the endpoint of your MongoDB here